{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Base File{% endblock title %}</title>
    <style>
	#blog-card{
		position:relative;
		border-radius: 5px;
		bottom: 0;
		left: 0;
		transition: bottom 0.5s, left 0.5s, box-shadow 0.5s;
	}
	#blog-card:hover{
		box-shadow:-5px 5px 5px grey;
		bottom:2px;
		left:2px;
	}
	#blog-card:active{
		box-shadow:0px 0px;
		bottom:-2px;
		left:-2px;
	}
	</style>
	<link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
</head>
<body>
	<div class="container col-md-8 col-12 mx-md-auto mx-3 mb-3 mt-3">
		<nav class="navbar navbar-expand-lg navbar-light border-bottom d-flex align-items-center justify-content-center">
			<a class="navbar-brand d-flex align-items-center justify-content-center" href="{% url 'blog' %}" style="font-family: Oswald;">
				<img src="{% static 'favicon.svg' %}" width="45" height="45" class="d-inline-block align-top" alt="logo">
				Price Action Repository
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto" style="font-family: Oswald;font-weight:700;">
					<li class="nav-item mr-3 {% if request.resolver_match.url_name == 'blog' %}active{% endif %}">
						<a class="nav-link" href="{% url 'blog' %}">BLOG</a>
					</li>
					{% if request.user.is_authenticated %}
						<li class="d-flex nav-item align-items-center" id="signout-btn">
							<form action="{% url 'logout' %}" method="POST">
								{% csrf_token %}
								<button class="btn btn-sm btn-outline-dark border-0" type="submit">SIGN OUT</button>
							</form>
						</li>
					{% else %}
						<li class="d-flex nav-item align-items-center">
							<div class="btn-group" role="group" aria-label="myaccount">
							  <a type="button" class="btn btn-success btn-sm rounded-5" href="{% url 'register' %}">SIGN UP</a>
							  <a type="button" class="btn btn-outline-success btn-sm" href="{% url 'login' %}">SIGN IN</a>
							</div>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
	
	{% if messages %}
		<div id="messages">
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	
	<section class="container">
		<div class="row mt-5 mb-5 pt-5 pb-5">
			<div class="col-12 text-center">
				<h1 style="color:#333;"><strong>{% block sectionheading %}{% endblock sectionheading %}</strong></h1>
				<p class="text-muted">{% block subsectionheading %}{% endblock subsectionheading %}</p>
			</div>
		</div>
	</section>
	{% block content %}
	
	{% endblock content %}

	  <footer class="col-md-4 py-4 my-4 border-top" style="font-family: Oswald;>
		<div class="text-center">
		  <p class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Price Action Repository</p>
		</div>
	  </footer>
	</div>
    
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script>
		function togglePasswordVisibility(passwordID, togglebuttonID){
			const passwordField = document.getElementById(passwordID);
            const toggleIcon = document.getElementById(togglebuttonID);
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                toggleIcon.classList.remove('fa-eye');
                toggleIcon.classList.add('fa-eye-slash');
            } else {
                passwordField.type = 'password';
                toggleIcon.classList.remove('fa-eye-slash');
                toggleIcon.classList.add('fa-eye');
            }
		}
		
		function toggleAlert(elementID, alertMsgId) {
            const alertElement = document.getElementById(alertMsgId);
			if (elementID=='password1'){
				alertElement.style.display = 'block';
				alertElement.classList.add('show');
            } else {
                alertElement.classList.remove('show');
				alertElement.style.display = 'none';
            }
        }
    </script>
</body>
</html>
