{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Base File{% endblock title %}</title>
	{% compress css %}
		<style>
		#blog-card{
			position:relative;
			border-radius: 5px;
			bottom: 0;
			left: 0;
			transition: bottom 0.5s, left 0.5s, box-shadow 0.5s;
		}
		#blog-card:hover{
			box-shadow:-5px 5px 5px grey;
			bottom:2px;
			left:2px;
		}
		#blog-card:active{
			box-shadow:0px 0px;
			bottom:-2px;
			left:-2px;
		}
		.spinner-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}
		#pageloadspinner.hidden {
			display: none;
		}
		.spinner-text {
			margin-top: 15px;
			font-size: 1.2rem;
			color: #28a745; /* Matches Bootstrap's text-success color */
		}
		</style>
	{% endcompress %}
	<link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
	<script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>
	<div class="spinner-container" id="pageloadspinner">
		<div class="spinner-text">Please wait, loading...</div>
		<div class="spinner-border text-success mr-2" role="status">
		  <span class="sr-only">Loading...</span>
		</div>
	</div>
	<div class="container col-md-8 col-12 mx-md-auto mx-3 mb-3 mt-3">
		<nav class="navbar navbar-expand-lg navbar-light border-bottom d-flex align-items-center justify-content-center">
			<a class="navbar-brand d-flex align-items-center justify-content-center" href="{% url 'blog' %}" style="font-family: Oswald;">
				<img src="{% static 'favicon.svg' %}" width="45" height="45" class="d-inline-block align-top" alt="logo">
				Price Action Repository
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto" style="font-family: Oswald;font-weight:700;">
					<li class="nav-item mr-3 {% if request.resolver_match.url_name == 'blog' %}active{% endif %}">
						<a class="nav-link" href="{% url 'blog' %}">BLOG</a>
					</li>
					{% if request.user.is_authenticated %}
						<li>{{ user.email }}</li>
						<li class="d-flex nav-item align-items-center" id="signout-btn">
							<form action="{% url 'logout' %}" method="POST" id="logout_form">
								{% csrf_token %}
								<input type="hidden" id="logout_referrer" name="logout_referrer" value="">
								<button id="logout_btn" class="btn btn-sm btn-outline-dark border-0" onclick="handleLogout()" type="submit">SIGN OUT</button>
							</form>
						</li>
					{% else %}
						<li class="d-flex nav-item align-items-center">
							<div class="btn-group" role="group" aria-label="myaccount">
							  <a type="button" class="btn btn-success btn-sm" href="{% url 'register' %}">SIGN UP</a>
							  <a type="button" class="btn btn-outline-success btn-sm" href="{% url 'login' %}">SIGN IN</a>
							</div>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>

		<div class="alert alert-dismissible fade show" role="alert" id="response_messages" style="display:none;">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		
	{% if messages %}
		<div id="messages">
			{% for message in messages %}
				{% if message.tags == 'error' %}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
				{% else %}
					<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">{% endif %}
						{{ message }}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
			{% endfor %}
		</div>
	{% endif %}
	
	<section class="container">
		<div class="row mt-5 mb-5 pt-5 pb-5">
			<div class="col-12 text-center">
				<h1 style="color:#333;"><strong>{% block sectionheading %}{% endblock sectionheading %}</strong></h1>
				<p class="text-muted">{% block subsectionheading %}{% endblock subsectionheading %}</p>
			</div>
		</div>
	</section>
	{% block content %}
	
	{% endblock content %}

	  <footer class="col-md-4 py-4 my-4 border-top" style="font-family: Oswald;">
		<div class="text-center">
		  <p class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Price Action Repository</p>
		</div>
	  </footer>
	</div>
    
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
	{% compress js %}
	<script>
		var isUserLoggedIn = document.getElementById('logout_btn') ? true : false;
		window.onload = function () {
			if (!isUserLoggedIn) {
				google.accounts.id.initialize({
				client_id: "742784578451-kkps59hdh9fn38k47rtlomadklghd9pi.apps.googleusercontent.com",
				callback: handleGoogleOneTapSignIn
			});
				google.accounts.id.prompt();
			}
		}
		document.addEventListener('DOMContentLoaded', function () {
			document.getElementById('pageloadspinner').classList.add('hidden');
		});
		
		function handleGoogleOneTapSignIn(response) {
			document.getElementById('pageloadspinner').classList.remove('hidden');
			document.getElementById('pageloadspinner').innerHTML = "Please Wait, Signing in..."
			const jwt_token = response.credential;
			googleLoginRequest(jwt_token);
		}
		
		async function googleLoginRequest(jwt_token){
			//const button = document.getElementById('g_id_signin');
			//const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
			const referrer = isReferrerFromCurrentDomain(document.referrer) ? document.referrer : window.location.origin;
			const response_message = document.getElementById('response_messages')
			const id_token = jwt_token;
			console.log("variables initialized");
			
			response_message.innerHTML="";
			response_message.style.display="none";
			response_message.classList.remove('alert-success');
			response_message.classList.remove('alert-danger');
			console.log("response_message unset");

			//button.disabled = true;
			//button.className = 'btn btn-block';
			//button.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';
			try {
				const login_response = await fetch("{% url 'g_social_login' %}", {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded',
					},
					body: new URLSearchParams({
						id_token: id_token,
						referrer: referrer
					})
				});

				const data = await login_response.json();

				if (data.success) {
					response_message.innerHTML=data.message;
					response_message.style.display="block";
					response_message.classList.add('alert-success');
					//button.innerHTML = '<i class="fab fa-google"></i>';
					//button.disabled = false;
					setTimeout(() => {
						window.location.href = data.redirect_url;
					}, 1000);
				} else if (data.method){
					//console.log('Login attempt failed!');
					//button.disabled = false;
					//button.innerHTML = 'Login';
					if (confirm(data.message)) {
					  console.log('Create google account');
					} else {
					  console.log('Not Create google account and go back to login page');
					} 
				} else{
					response_message.innerHTML=data.message;
					response_message.style.display="block";
					response_message.classList.add('alert-danger');
				}
			} catch (error) {
				console.error('Request error:', error);
				//button.innerHTML = '<i class="fab fa-google"></i>';
				//button.disabled = false;
				response_message.innerHTML='Unexpected error has occurred, please refresh the page and try again...';
				response_message.style.display="block";
				response_message.classList.add('alert-danger');
			}
			document.getElementById('pageloadspinner').classList.add('hidden');
		}
		
		function togglePasswordVisibility(passwordID, togglebuttonID){
			const passwordField = document.getElementById(passwordID);
            const toggleIcon = document.getElementById(togglebuttonID);
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                toggleIcon.classList.remove('fa-eye');
                toggleIcon.classList.add('fa-eye-slash');
            } else {
                passwordField.type = 'password';
                toggleIcon.classList.remove('fa-eye-slash');
                toggleIcon.classList.add('fa-eye');
            }
		}
		
		function toggleAlert(elementID, alertMsgId) {
            const alertElement = document.getElementById(alertMsgId);
			if (elementID=='password1'){
				alertElement.style.display = 'block';
				alertElement.classList.add('show');
            } else {
                alertElement.classList.remove('show');
				alertElement.style.display = 'none';
            }
        }

		async function handleLogout() {
			const button = document.getElementById('logout_btn');
			const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
			const referrer = window.location.href;
			const response_message = document.getElementById('response_messages');

			response_message.innerHTML = "";
			response_message.style.display = "none";
			response_message.classList.remove('alert-success', 'alert-danger');

			button.disabled = true;
			button.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';

			try {
				const response = await fetch("{% url 'logout' %}", {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded',
						'X-CSRFToken': csrfToken
					},
					body: new URLSearchParams({
						'referrer': referrer,
					})
				});

				const data = await response.json();

				if (data.success) {
					response_message.innerHTML = data.message;
					response_message.style.display = "block";
					response_message.classList.add('alert-success');
					setTimeout(() => {
						window.location.href = data.redirect_url;
						console.log("Redirection url : ", data.redirect_url);
					}, 1000);
				} else {
					console.log('Logout attempt failed!');
					button.disabled = false;
					button.innerHTML = 'SIGN OUT';
					response_message.innerHTML = data.message;
					response_message.style.display = "block";
					response_message.classList.add('alert-danger');
				}
			} catch (error) {
				console.error('Request error:', error);
				button.disabled = false;
				button.innerHTML = 'SIGN OUT';
				response_message.innerHTML = 'Unexpected error has occurred, please refresh the page and try again...';
				response_message.style.display = "block";
				response_message.classList.add('alert-danger');
			}
		}
		
		function isReferrerFromCurrentDomain(referrer) {
			try{
				const currentDomain = window.location.hostname;
				const referrerDomain = new URL(referrer).hostname;
				
				return currentDomain === referrerDomain;
			}catch (error){
				return false;
			}
		}
	</script>
	{% endcompress %}
	{% block script %}{% endblock script %}
</body>
</html>
