{% extends 'blog/base.html' %}

{% block title %}Blog{% endblock title %}

{% block sectionheading %}Blog Posts{% endblock sectionheading %}
{% block subsectionheading %}Explore the latest updates, news, and insights.{% endblock subsectionheading %}

{% block content %}

	{% for object in object_list %}
	<div class="row my-3" onclick="window.location.href='{% url 'blogpost' object.post_url %}';">
		<div class="col-md-8 col-12 mx-md-auto mx-3 mb-3 mt-3 border border-grey p-3" id="blog-card">
			<div class="image-container" style="width:100%;height:250px;overflow:auto;">
				<img class="" style="width:100%;height:100%;object-fit:cover;top:0;left:0;" src="{{ object.featured_image.image.url }}" alt="{{ object.featured_image.alt }}">
			</div>
			<h3><strong>{{ object.title }}</strong></h3>
			<p class="text-muted">{{ object.author.email }} &#9913; {{ object.date }} &#9913; {{ object.reading_time }} min read</p>
			<div class="my-3">
				{{ object.content|truncatewords_html:50|safe }}
			</div>
			
			{% if object.likes.count > 1 %}
				<p class="text-muted">{{ object.likes.count }} people like this post</p>
			{% endif %}
		</div>
	</div>
	{% endfor %}
	
	{% if page_obj.paginator.num_pages > 1 %}
		<nav>
			<ul class="pagination">
				<div class="mx-auto d-flex flex-row mt-5">
					{% if page_obj.has_previous %}
							<li class="page-item">
								<a class="page-link" href="?page=1">First</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
							</li>
					{% else %}
							<li class="page-item disabled">
								<a class="page-link" href="">First</a>
							</li>
							<li class="page-item disabled">
								<a class="page-link" href="">&laquo;</a>
							</li>
					{% endif %}
						
						<li class="page-item page-item-primary-dark">
							<a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
						</li>
						
					{% if page_obj.has_next %}
							<li class="page-item">
								<a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
							</li>
					{% else %}
							<li class="page-item disabled">
								<a class="page-link" href="">&raquo;</a>
							</li>
							<li class="page-item disabled">
								<a class="page-link" href="">Last</a>
							</li>
					{% endif %}
				
				</div>
			</ul>
		</nav>
	{% endif %}

{% endblock content %}