{% extends 'blog/base.html' %}

{% block sectionheading %}Forgot Password{% endblock sectionheading %}
{% block subsectionheading %}Enter your registered email address and we'll send you a link to reset your password.{% endblock subsectionheading %}

{% block content %}
	<div class="row justify-content-center mt-5 mb-5">
		<div class="col-md-6">
			<div class="card border-0">
				<div class="card-body">
					<form action="{% url 'forgotpassword' %}" method="post">
						{% csrf_token %}
						<div class="form-group">
							<input type="email" class="form-control" id="email" name="email" placeholder="Enter your registered email" required>
							{% if form.email.errors %}
								<div class="text-danger mt-2">
									{% for error in form.email.errors %}
										<p>{{ error }}</p>
									{% endfor %}
								</div>
							{% endif %}
						</div>
						<button type="submit" class="btn btn-success btn-block">Send Reset Link</button>
					</form>
					<div class="text-center mt-3">
						<a class="text-success" href="{% url 'login' %}">Back to Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

