{% extends 'blog/base.html' %}

{% load socialaccount %}
{% load static %}
{% load i18n %}
{% load allauth %}

{% block sectionheading %}Welcome Back!{% endblock sectionheading %}
{% block subsectionheading %}Login to your account and continue where you left off{% endblock subsectionheading %}

{% block content %}
	<div class="row justify-content-center mt-5 mb-5">
		<div class="col-md-6">
			<form action="{% url 'login' %}" method="POST" id="login-form">
				{% csrf_token %}
				<div class="form-group">
					<input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
						<div class="input-group-append">
							<span class="input-group-text btn-outline-secondary" style="cursor: pointer;" id="togglePassword" onclick="togglePasswordVisibility('password','toggleIcon')">
								<i class="fa fa-eye" id="toggleIcon"></i>
							</span>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-success btn-block" id="login-btn">Login</button>
			</form>
			<div class="text-right mt-2">
				<a class="text-success" href="{% url 'forgotpassword' %}">Forgot Password?</a>
			</div>
			<hr>
			<div class="text-center">
				<p>Or login using</p>
				<div class="row">
					<!--
					<form id="googleloginform" class="border mr-2 flex-grow-1" action="{% provider_login_url 'google' process='connect' %}?next=/blog/" method="POST">
						{% csrf_token %}
						<button id="gloginbtn" class="btn btn-danger w-100 h-100" type="submit" aria-label="Login with Google">
							<i class="fab fa-google"></i>
						</button>
					</form>
					-->
					<span id="g_id_onload"
						data-client_id="742784578451-kkps59hdh9fn38k47rtlomadklghd9pi.apps.googleusercontent.com"
						data-context="signin"
						data-ux_mode="popup"
						data-callback="handleCredentialResponse"
						data-nonce=""
						data-itp_support="true">
					</span>
					
					<span class="g_id_signin mr-2"
						data-type="standard"
						data-shape="rectangular"
						data-theme="filled_blue"
						data-text="signin_with"
						data-size="large"
						data-logo_alignment="left"
						data-width="50">
					</span>
					<button class="btn btn-primary mr-2 flex-grow-1" type="submit" aria-label="Login with Facebook">
						<i class="fab fa-facebook-f"></i>
					</button>
					<button class="btn btn-dark mr-2 flex-grow-1" type="submit"  aria-label="Login with Apple">
						<i class="fab fa-apple"></i>
					</button>
				</div>
			</div>
			<div class="text-center mt-3 mb-5">
				<p>Don't have an account? <a class="text-success" href="{% url 'register' %}">Register here</a></p>
			</div>
		</div>
	</div>
{% endblock content %}

{% block script %}
	<script>		
		function handleCredentialResponse(response) {
			document.getElementById('pageloadspinner').classList.remove('hidden');
			document.getElementById('pageloadspinner').innerHTML = "Please Wait, Signing in..."
			const jwt_token = response.credential;
			googleLoginRequest(jwt_token);
		}
		
		async function googleLoginRequest(jwt_token){
			//const button = document.getElementById('g_id_signin');
			//const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
			const referrer = isReferrerFromCurrentDomain(document.referrer) ? document.referrer : window.location.origin;
			const response_message = document.getElementById('response_messages')
			const id_token = jwt_token;
			console.log("variables initialized");
			
			response_message.innerHTML="";
			response_message.style.display="none";
			response_message.classList.remove('alert-success');
			response_message.classList.remove('alert-danger');
			console.log("response_message unset");

			//button.disabled = true;
			//button.className = 'btn btn-block';
			//button.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';
			try {
				const login_response = await fetch("{% url 'g_social_login' %}", {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded',
					},
					body: new URLSearchParams({
						id_token: id_token,
						referrer: referrer
					})
				});

				const data = await login_response.json();

				if (data.success) {
					response_message.innerHTML=data.message;
					response_message.style.display="block";
					response_message.classList.add('alert-success');
					//button.innerHTML = '<i class="fab fa-google"></i>';
					//button.disabled = false;
					setTimeout(() => {
						window.location.href = data.redirect_url;
					}, 1000);
				} else if (data.method){
					//console.log('Login attempt failed!');
					//button.disabled = false;
					//button.innerHTML = 'Login';
					if (confirm(data.message)) {
					  console.log('Create google account');
					} else {
					  console.log('Not Create google account and go back to login page');
					} 
				} else{
					response_message.innerHTML=data.message;
					response_message.style.display="block";
					response_message.classList.add('alert-danger');
				}
			} catch (error) {
				console.error('Request error:', error);
				//button.innerHTML = '<i class="fab fa-google"></i>';
				//button.disabled = false;
				response_message.innerHTML='Unexpected error has occurred, please refresh the page and try again...';
				response_message.style.display="block";
				response_message.classList.add('alert-danger');
			}
			document.getElementById('pageloadspinner').classList.add('hidden');
		}
				
		document.getElementById('login-form').addEventListener('submit', async function(event) {
			event.preventDefault();
			
			const button = document.getElementById('login-btn');
			const email = document.getElementById('email').value;
			const password = document.getElementById('password').value;
			const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
			const referrer = isReferrerFromCurrentDomain(document.referrer) ? document.referrer : window.location.origin;
			const response_message = document.getElementById('response_messages')
			
			response_message.innerHTML="";
			response_message.style.display="none";
			response_message.classList.remove('alert-success');
			response_message.classList.remove('alert-danger');
			
			button.disabled = true;
			button.className = 'btn btn-success btn-block';
			button.innerHTML = 'Logging in... <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';

			try {
				const response = await fetch("{% url 'login' %}", {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded',
						'X-CSRFToken': csrfToken
					},
					body: new URLSearchParams({
						email: email,
						password: password,
						referrer: referrer
					})
				});

				const data = await response.json();

				if (data.success) {
					response_message.innerHTML=data.message;
					response_message.style.display="block";
					response_message.classList.add('alert-success');
					setTimeout(() => {
						window.location.href = data.redirect_url;
					}, 1000);
				} else {
					console.log('Login attempt failed!');
					button.disabled = false;
					button.innerHTML = 'Login';
					response_message.innerHTML=data.message;
					response_message.style.display="block";
					response_message.classList.add('alert-danger');
				}
			} catch (error) {
				console.error('Request error:', error);
				button.disabled = false;
				button.innerHTML = 'Login';
				response_message.innerHTML='Unexpected error has occurred, please refresh the page and try again...';
				response_message.style.display="block";
				response_message.classList.add('alert-danger');
			}
		});
	</script>
{% endblock script %}
