{% extends 'blog/base.html' %}

{% block sectionheading %}Reset Your Password{% endblock sectionheading %}
{% block subsectionheading %}Please enter your new password below. Ensure that it meets the security requirements.{% endblock subsectionheading %}

{% block content %}
	<div class="row justify-content-center mt-5 mb-5">
		<div class="col-md-6">
			<div class="alert alert-info show" id="formPasswordDetails" role="alert">
				<strong>Password Requirements:</strong><br>
					Please ensure your password meets the following criteria:
					<ul>
						<li>Contains at least one capital letter (A-Z)</li>
						<li>Includes at least one small letter (a-z)</li>
						<li>Has at least one digit (0-9)</li>
						<li>Contains at least one special character [!@#$%^&*()_+{}:;"'<>,.?~`]</li>
						<li>Is between 6 and 20 characters in length</li>
					</ul>
				Thank you for following these guidelines to help keep your account secure!
			</div>
			<form action="{% url 'resetpasswordconfirmed' %}" id="pwd_rst_frm" method="POST">
				{% csrf_token %}
				<input type="hidden" name="uidb64" id="uidb64" value="{{ uidb64 }}">
				<input type="hidden" name="token" id="token" value="{{ token }}">
					<div class="form-group">
						<div class="input-group">
							<input type="password" class="form-control" id="password1" name="password1" placeholder="Enter your New Password" required>
							<div class="input-group-append">
								<span class="input-group-text btn-outline-secondary" style="cursor: pointer;" id="togglePassword1" onclick="togglePasswordVisibility('password1','toggleIcon1')">
									<i class="fa fa-eye" id="toggleIcon1"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm your New Password" required>
							<div class="input-group-append">
								<span class="input-group-text btn-outline-secondary" style="cursor: pointer;" id="togglePassword2" onclick="togglePasswordVisibility('password2','toggleIcon2')">
									<i class="fa fa-eye" id="toggleIcon2"></i>
								</span>
							</div>
						</div>
					</div>
				<button type="submit" class="btn btn-success btn-block" id="reset_pwd_button">Reset Password</button>
			</form>
		</div>
	</div>
{% endblock content %}

{% block script %}
	<script>
		document.getElementById('pwd_rst_frm').addEventListener('submit', async function(event) {
			event.preventDefault();
			
			const button = document.getElementById('reset_pwd_button');
			const uidb64 = document.getElementById('uidb64').value;
			const token = document.getElementById('token').value;
			const password1 = document.getElementById('password1').value;
			const password2 = document.getElementById('password2').value;
			const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
			const referrer = "{% url 'blog' %}";
			const response_message = document.getElementById('response_messages')
			
			response_message.innerHTML="";
			response_message.style.display="none";
			response_message.classList.remove('alert-success');
			response_message.classList.remove('alert-danger');
			
			button.disabled = true;
			button.className = 'btn btn-success btn-block';
			button.innerHTML = 'Resetting your password... <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';

			try {
				const response = await fetch("{% url 'resetpasswordconfirmed' %}", {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded',
						'X-CSRFToken': csrfToken
					},
					body: new URLSearchParams({
						uidb64: uidb64,
						token: token,
						password1: password1,
						password2: password2,
						referrer: referrer
					})
				});

				const data = await response.json();

				if (data.success) {
					response_message.innerHTML=data.message;
					response_message.style.display="block";
					response_message.classList.add('alert-success');
					setTimeout(() => {
						window.location.href = data.redirect_url;
					}, 3000);
				} else {
					console.log('Reset Password attempt failed!');
					button.disabled = false;
					button.innerHTML = 'Reset Password';
					response_message.innerHTML=data.message;
					response_message.style.display="block";
					response_message.classList.add('alert-danger');
				}
			} catch (error) {
				console.error('Request error:', error);
				button.disabled = false;
				button.innerHTML = 'Reset Password';
				response_message.innerHTML='Unexpected error has occurred, please refresh the page and try again...';
				response_message.style.display="block";
				response_message.classList.add('alert-danger');
			}
		});
	</script>
{% endblock script %}