{% extends 'blog/base.html' %}

{% block sectionheading %}Reset Your Password{% endblock sectionheading %}
{% block subsectionheading %}Please enter your new password below. Ensure that it meets the security requirements.{% endblock subsectionheading %}

{% block content %}
	<div class="row justify-content-center mt-5 mb-5">
		<div class="col-md-6">
			<div class="alert alert-info show" id="formPasswordDetails" role="alert">
				<strong>Password Requirements:</strong><br>
					Please ensure your password meets the following criteria:
					<ul>
						<li>Contains at least one capital letter (A-Z)</li>
						<li>Includes at least one small letter (a-z)</li>
						<li>Has at least one digit (0-9)</li>
						<li>Contains at least one special character [!@#$%^&*()_+{}:;"'<>,.?~`]</li>
						<li>Is between 6 and 20 characters in length</li>
					</ul>
				Thank you for following these guidelines to help keep your account secure!
			</div>
			<form action="{% url 'resetpasswordconfirmed' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="uidb64" value="{{ uidb64 }}">
				<input type="hidden" name="token" value="{{ token }}">
					<div class="form-group">
						<div class="input-group">
							<input type="password" class="form-control" id="password1" name="password1" placeholder="Enter your password" required>
							<div class="input-group-append">
								<span class="input-group-text btn-outline-secondary" style="cursor: pointer;" id="togglePassword1" onclick="togglePasswordVisibility('password1','toggleIcon1')">
									<i class="fa fa-eye" id="toggleIcon1"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm your password" required>
							<div class="input-group-append">
								<span class="input-group-text btn-outline-secondary" style="cursor: pointer;" id="togglePassword2" onclick="togglePasswordVisibility('password2','toggleIcon2')">
									<i class="fa fa-eye" id="toggleIcon2"></i>
								</span>
							</div>
						</div>
					</div>
				<button type="submit" class="btn btn-success btn-block">Reset Password</button>
			</form>
		</div>
	</div>
{% endblock content %}