{% extends 'blog/base.html' %}

{% load socialaccount %}
{% load static %}
{% load i18n %}
{% load allauth %}

{% block sectionheading %}Join Us!{% endblock sectionheading %}
{% block subsectionheading %}Create a new account and join us to unlock new horizons{% endblock subsectionheading %}

{% block content %}
	<div class="row justify-content-center mt-5 mb-5">
		<div class="col-md-6">
			<form action="{% url 'register' %}" id="registration_form" method="POST">
				{% csrf_token %}
				<div class="form-group d-flex">
					<input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your first name" value="Sudhanshu" required>
					<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your last name" value="Gupta">
				</div>
				<div class="form-group">
					<input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address" value="sudhanshug92@gmail.com" required>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input type="password" class="form-control" id="password1" name="password1" onfocus="toggleAlert('password1', 'formPasswordDetails')" onblur="toggleAlert('anythingelse', 'formPasswordDetails')" placeholder="Enter your password" required>
						<div class="input-group-append">
							<span class="input-group-text btn-outline-secondary" style="cursor: pointer;" id="togglePassword1" onclick="togglePasswordVisibility('password1','toggleIcon1')">
								<i class="fa fa-eye" id="toggleIcon1"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group" onclick="toggleAlert('password2', 'formPasswordDetails')">
						<input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm your password" required>
						<div class="input-group-append">
							<span class="input-group-text btn-outline-secondary" style="cursor: pointer;" id="togglePassword2" onclick="togglePasswordVisibility('password2','toggleIcon2')">
								<i class="fa fa-eye" id="toggleIcon2"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="alert alert-info alert-dismissible fade" id="formPasswordDetails" role="alert" style="display:none;">
					<strong>Password Requirements:</strong><br>
						Please ensure your password meets the following criteria:
						<ul>
							<li>Contains at least one capital letter (A-Z)</li>
							<li>Includes at least one small letter (a-z)</li>
							<li>Has at least one digit (0-9)</li>
							<li>Contains at least one special character [!@#$%^&*()_+{}:;"'<>,.?~`]</li>
							<li>Is between 6 and 20 characters in length</li>
						</ul>
					Thank you for following these guidelines to help keep your account secure!
					<button type="button" class="close" aria-label="Close" onclick="toggleAlert('password2', 'formPasswordDetails')">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<button type="submit" id="register_button" class="btn btn-success btn-block">Sign Up</button>
			</form>
			<hr>
			<div class="text-center">
				<p>Or signup using</p>
				<div class="d-flex flex-row">
					<form class="border mr-2 flex-grow-1" action="{% provider_login_url 'google' process='connect' %}?next=/blog/" method="POST">
						{% csrf_token %}
						<button class="btn btn-danger w-100 h-100" type="submit" aria-label="Login with Google">
							<i class="fab fa-google"></i>
						</button>
					</form>
					<form class="border mr-2 flex-grow-1" action="" method="POST">
						{% csrf_token %}
						<button class="btn btn-primary w-100 h-100" type="submit" aria-label="Login with Facebook">
							<i class="fab fa-facebook-f"></i>
						</button>
					</form>
					<form class="border mr-2 flex-grow-1" action="" method="POST">
						{% csrf_token %}
						<button class="btn btn-dark w-100 h-100" type="submit"  aria-label="Login with Apple">
							<i class="fab fa-apple"></i>
						</button>
					</form>
				</div>
			</div>
			<div class="text-center mt-3 mb-5">
				<p>Already have an account? <a class="text-success" href="{% url 'login' %}">Login here</a></p>
			</div>
		</div>
	</div>
{% endblock content %}

{% block script %}
	<script>
		document.getElementById('registration_form').addEventListener('submit', async function(event) {
			event.preventDefault();
			
			const button = document.getElementById('register_button');
			const firstname = document.getElementById('firstname').value;
			const lastname = document.getElementById('lastname').value;
			const email = document.getElementById('email').value;
			const password1 = document.getElementById('password1').value;
			const password2 = document.getElementById('password2').value;
			const auth_method = 'Email';
			const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
			const referrer = isReferrerFromCurrentDomain(document.referrer) ? document.referrer : window.location.origin;
			const response_message = document.getElementById('response_messages')
			
			response_message.innerHTML="";
			response_message.style.display="none";
			response_message.classList.remove('alert-success');
			response_message.classList.remove('alert-danger');
			
			button.disabled = true;
			button.className = 'btn btn-success btn-block';
			button.innerHTML = 'Registering... <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';

			try {
				const response = await fetch("{% url 'register' %}", {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded',
						'X-CSRFToken': csrfToken
					},
					body: new URLSearchParams({
						firstname: firstname,
						lastname: lastname,
						email: email,
						password1: password1,
						password2: password2,
						auth_method: auth_method,
						referrer: referrer
					})
				});

				const data = await response.json();

				if (data.success) {
					response_message.innerHTML=data.message;
					response_message.style.display="block";
					response_message.classList.add('alert-success');
					setTimeout(() => {
						window.location.href = data.redirect_url;
					}, 3000);
				} else {
					console.log('Registration attempt failed!');
					button.disabled = false;
					button.innerHTML = 'Sign Up';
					response_message.innerHTML=data.message;
					response_message.style.display="block";
					response_message.classList.add('alert-danger');
				}
			} catch (error) {
				console.error('Request error:', error);
				button.disabled = false;
				button.innerHTML = 'Sign Up';
				response_message.innerHTML='Unexpected error has occurred, please refresh the page and try again...';
				response_message.style.display="block";
				response_message.classList.add('alert-danger');
			}
		});
	</script>
{% endblock script %}